@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .left {
  width: 60%;
  padding: 23px 40px 0 128px;
}

header .container .left .navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .left .navbar .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

header .container .left .navbar .navigation ul a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222124;
}

header .container .left .nav-title {
  margin-top: 123px;
  padding: 0 100px 0 0;
}

header .container .left .nav-title .text h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 85px;
  color: #222124;
}

header .container .left .nav-title .text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #222124;
  margin-top: 14px;
}

header .container .left .nav-title .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 66px;
}

header .container .left .nav-title .card .card-flex:nth-child(1) {
  background: linear-gradient(315.49deg, #ffc85c 1.32%, #f1b301 96.68%);
  border-radius: 12px;
  padding: 20px 0 0 20px;
}

header .container .left .nav-title .card .card-flex:nth-child(1) .struktura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
  background: rgba(255, 255, 255, 0.203344);
  border-radius: 19px;
  width: 119px;
  height: 40px;
}

header .container .left .nav-title .card .card-flex:nth-child(1) .struktura p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

header .container .left .nav-title .card .card-flex:nth-child(1) .struktura-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .left .nav-title .card .card-flex:nth-child(1) .struktura-2 h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 32px;
  text-transform: uppercase;
  color: #e76a06;
}

header .container .left .nav-title .card .card-flex:nth-child(1) .struktura-2 .pitsa-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .left .nav-title .card .card-flex:nth-child(1) .struktura-2 .pitsa-mini img {
  border-radius: 12px;
}

header .container .left .nav-title .card .card-flex:nth-child(2) {
  background: #800a7a;
  border-radius: 12px;
  padding: 20px 0 0 20px;
}

header .container .left .nav-title .card .card-flex:nth-child(2) .struktura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
  background: rgba(255, 255, 255, 0.203344);
  border-radius: 19px;
  width: 174px;
  height: 40px;
}

header .container .left .nav-title .card .card-flex:nth-child(2) .struktura p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

header .container .left .nav-title .card .card-flex:nth-child(2) .struktura-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .left .nav-title .card .card-flex:nth-child(2) .struktura-2 h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fc96f7;
}

header .container .left .nav-title .card .card-flex:nth-child(2) .struktura-2 .pitsa-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .left .nav-title .card .card-flex:nth-child(2) .struktura-2 .pitsa-mini img {
  border-radius: 12px;
}

header .container .right {
  width: 40%;
  background: #800a7a;
  padding: 28px 128px 0 40px;
  position: relative;
}

header .container .right .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .right .right-nav .right-title:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}

header .container .right .right-nav .right-title:nth-child(1) p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

header .container .right .right-nav .right-title:nth-child(1) p span {
  font-weight: bold;
  font-size: 24px;
}

header .container .right .right-nav .right-title:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  position: relative;
}

header .container .right .right-nav .right-title:nth-child(3) p {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}

header .container .right .right-nav .right-title:nth-child(3) p span {
  font-size: 12px;
  font-weight: normal;
}

header .container .right .right-nav .right-title:nth-child(3) .position-svg-nav {
  position: absolute;
  left: 12px;
  top: 0;
}

header .container .right .big-burder {
  margin-top: 68px;
}

header .container .right .big-burder img {
  position: absolute;
  right: 0;
  -webkit-transform: translate();
          transform: translate();
}

.main {
  padding: 0 128px 0 128px;
  margin-top: 79px;
}

.main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 39px;
}

.main .menu .menu-togle:nth-child(1) {
  width: 134px;
  height: 54px;
  background: #f1b301;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .menu .menu-togle:nth-child(1) a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
}

.main .menu .menu-togle a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222124;
}

.main .menu button {
  width: 160px;
  height: 54px;
  background: #f5f5f5;
  border-radius: 27px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222124;
  gap: 17px;
}

.main .pitsa .title {
  margin-top: 105px;
}

.main .pitsa .title h1 {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #222124;
}

.main .pitsa .gavayi-pitsa {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.main .pitsa .gavayi-pitsa .card {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(151, 151, 151, 0.181927);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  gap: 40px;
  position: relative;
}

.main .pitsa .gavayi-pitsa .card .gavaiy-title .cheese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}

.main .pitsa .gavayi-pitsa .card .gavaiy-title .cheese h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #222124;
}

.main .pitsa .gavayi-pitsa .card .gavaiy-title p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #22212489;
  margin-top: 10px;
}

.main .pitsa .gavayi-pitsa .card .gavaiy-title .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 13px;
}

.main .pitsa .gavayi-pitsa .card .gavaiy-title .plus h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #222124;
}

.main .pitsa .gavayi-pitsa .card .gavaiy-title .plus .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f1b301;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 25px;
}

.main .pitsa .gavayi-pitsa .card .firee {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.249235);
  -webkit-box-shadow: 0px 7px 40px rgba(238, 39, 68, 0.355086);
          box-shadow: 0px 7px 40px rgba(238, 39, 68, 0.355086);
  -webkit-backdrop-filter: blur(8.15485px);
          backdrop-filter: blur(8.15485px);
  border-radius: 25px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand {
  background: #800a7a;
  margin-top: 173px;
}

.brand .brend-title {
  padding: 75px 128px 80px 128px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand .brend-title .brend-flex {
  margin: auto;
  position: relative;
}

.brand .brend-title .brend-flex h1 {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #ffffff;
}

.brand .brend-title .brend-flex .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 63px;
}

.brand .brend-title .brend-flex .btn button {
  width: 250px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.292941);
  background-color: transparent;
  border-radius: 46px;
}

.brand .brend-title .brend-flex .phone img {
  width: 350px;
}

footer {
  padding: 0 128px 26px 128px;
}

footer .footer-grid {
  margin-top: 125px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 0 0 40px 0;
}

footer .footer-grid .grid-flex h3 {
  font-size: 20px;
  font-weight: 500;
  color: #003846;
}

footer .footer-grid .grid-flex ul {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer .footer-grid .grid-flex ul a {
  text-decoration: none;
  color: #222124;
  font-size: 14px;
  line-height: 24px;
}

footer .max-way-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

footer .max-way-end p {
  font-size: 14px;
  color: #2221248b;
}

footer .max-way-end .logotips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
/*# sourceMappingURL=main.css.map */